#!/bin/sh

if type nvim > /dev/null 2>&1; then
  alias vim='nvim'
fi

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

alias kns=kubens
alias kctx=kubectx
alias kt=kubetail
alias k=kubectl

alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
