#!/bin/bash
# ~ vim: ft=sh

export XDG_CONFIG_HOME=$HOME/.config

export CLICOLOR=1

if type nvim > /dev/null 2>&1; then
  export EDITOR=nvim;
else
  export EDITOR=vim;
fi

# Prefer US English and use UTF-8
export LANG="en_NZ.UTF-8";
export LC_ALL="en_NZ.UTF-8";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";

export TZ='Pacific/Auckland';

# go path
export GOPATH="${HOME}/go"
export PATH=$PATH:${GOPATH}/bin

# custom binaries
export PATH=$PATH:$HOME/.bin

# fzf
export FZF_DEFAULT_OPTS='--height 40% --layout=reverse --border'
export FZF_CTRL_T_COMMAND='fd --type f --hidden --ignore'
